.u-hide {display:none !important;}
.o-row {margin:10px;}
.o-section {border:2px solid #2e8aea;}
.c-section {border:1px solid black;}
.c-section__header {margin-top:20px;}
.c-section__body, .mce-edit-area iframe {border:1px solid #cfcfcf !important; box-sizing:border-box;}
.c-section__body.textstring {font-size:18px; font-weight:bold;}
.c-label {font-size:16px; font-weight:bold; margin-right:20px}
.c-checkbox {height:16px; width:16px !important;}