<div class="o-section">

  <div class="u-hide umb-grid umb-control-bar">
    {{control.PluginHeader}}
  </div>

  <div ng-controller="more_info.controller">
    
    <div class="c-section umb-grid umb-control">
      
      <div class="c-section__header umb-grid umb-control-bar">
        Section header
      </div>

      <textarea rows="1"
        umb-auto-resize
        umb-auto-focus
        class="c-section__body textstring input-block-level" id="{{control.uniqueId}}_header"
        ng-model="control.Header"
        ng-attr-style="{{control.editor.config.style}}" placeholder="Header text">
      </textarea>
   
    </div>

    <div class="o-row">
      <label for="{{control.uniqueId}}_topsep" class="c-label">Add separator line above?</label>
      <input type="checkbox"
             id="{{control.uniqueId}}_topsep"
             ng-model="control.Separator"
             class="c-checkbox umb-checkbox" />
    </div>

    <div class="c-section umb-grid umb-control">
      
      <div class="c-section__header umb-grid umb-control-bar">
        Introduction
      </div>

      <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm">
        
        <div grid-rte
          class="c-section__body"
          rows="5"
          configuration="model.config.rte"
          value="control.Intro"
          unique-id="control.$uniqueId + 1"
          on-link-picker-click="vm.openLinkPicker"
          on-media-picker-click="vm.openMediaPicker"
          on-embed-click="vm.openEmbed">
        </div>

        <umb-overlay ng-if="vm.linkPickerOverlay.show"
          model="vm.linkPickerOverlay"
          position="right"
          view="vm.linkPickerOverlay.view">
        </umb-overlay>

        <umb-overlay ng-if="vm.mediaPickerOverlay.show"
          model="vm.mediaPickerOverlay"
          position="right"
          view="vm.mediaPickerOverlay.view">
        </umb-overlay>

        <umb-overlay ng-if="vm.embedOverlay.show"
          model="vm.embedOverlay"
          position="right"
          view="vm.embedOverlay.view">
        </umb-overlay>

      </div>
    
    </div>

    <div class="c-section umb-control">
      
      <div class="c-section__header umb-grid umb-control-bar">
        More information label
      </div>
      
      <textarea rows="1"
        umb-auto-resize
        class="c-section__body textstring input-block-level" id="{{control.uniqueId}}_moreinfolabel"
        ng-model="control.MoreText"
        ng-attr-style="{{control.editor.config.style}}" placeholder="More information label">
      </textarea>
    
    </div>

    <div class="c-section umb-grid umb-control">
    
      <div class="c-section__header umb-grid umb-control-bar">
        More information body text
      </div>

      <div ng-controller="Umbraco.PropertyEditors.Grid.RichTextEditorController as vm">
        
        <div grid-rte
          class="c-section__body"
          rows="5"
          configuration="model.config.rte"
          value="control.Body"
          unique-id="control.$uniqueId + 2"
          on-link-picker-click="vm.openLinkPicker"
          on-media-picker-click="vm.openMediaPicker"
          on-embed-click="vm.openEmbed">
        </div>

        <umb-overlay ng-if="vm.linkPickerOverlay.show"
          model="vm.linkPickerOverlay"
          position="right"
          view="vm.linkPickerOverlay.view">
        </umb-overlay>

        <umb-overlay ng-if="vm.mediaPickerOverlay.show"
          model="vm.mediaPickerOverlay"
          position="right"
          view="vm.mediaPickerOverlay.view">
        </umb-overlay>

        <umb-overlay ng-if="vm.embedOverlay.show"
          model="vm.embedOverlay"
          position="right"
          view="vm.embedOverlay.view">
        </umb-overlay>

      </div>
    </div>
  
    <div class="o-row">
      <label for="{{control.uniqueId}}_openclose" class="c-label">Open by default?</label>
      <input type="checkbox"
        id="{{control.uniqueId}}_openclose"
        ng-model="control.Open"
        class="c-checkbox umb-checkbox" />
    </div>

  </div>
</div>